<div class="container">
    <h3>Evaluacion de asignaciones</h3>

    <div class="row">
        <div class="col-9">
            <select class="form-control" id="eval">
                <option selected="" value="Seleccione una evaluacion"> Seleccione una evaluacion (Nombre, Rubro)</option>
                <option *ngFor="let evaluacion of evaluaciones" value="{{evaluacion.nombre}},{{ evaluacion.rubro}}">{{ evaluacion.nombre }}, {{ evaluacion.rubro}}</option>
            </select>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="loadAsignaciones()">Buscar</button>
        </div>
        


    </div>
    

    <div class="btn-group mt-lg-4 mb-lg-1" role="group" aria-label="Controles">
        <button type="button" class="btn btn-secondary" (click)="guardarNotas()">
            Guardar notas
        </button>
        <button type="button" class="btn btn-secondary" (click)="publicarNotas()">
            Publicar notas
        </button>
    </div>

    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <!-- <th style="width: 80px"></th> -->
                <th style="width: 22%">Estudiante</th>
                <th style="width: 22%">Entregable</th>
                <th style="width: 22%">Retroalimentacion</th>
                <th style="width: 22%">Observaciones</th>
                <th style="width: 20%">Nota</th>
            </tr>
        </thead>
        <tbody id="files-body">
            <tr *ngFor="let asignacion of asignaciones">
                <!-- <td><img src="assets/img/folder.png" alt="folder" /></td> -->
                <td>{{ asignacion.estudiante }}</td>
                <td (dblclick)="entregableDoubleClicked(asignacion, $event)">{{ asignacion.entregable }}</td>
                <td (dblclick)="detalleDoubleClicked(asignacion, $event)"> {{ asignacion.detalle }}</td>
                <td (dblclick)="feedbackDoubleClicked(asignacion, $event)">{{ asignacion.observaciones }}</td>
                <td (dblclick)="gradeDoubleClicked(asignacion, $event)">{{ asignacion.nota }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" id="grade-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Colocar nota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ingresa la nota del estudiante</p>
                <input type="text" name="grade" id="grade" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel('grade-modal')">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" (click)="onAgregarNota()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="feedback-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar observaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ingresa las observaciones de la asignacion</p>
                <input type="text" name="feedback" id="feedback" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel('feedback-modal')">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" (click)="onAgregarObserva()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="detalle-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar detalle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Seleccione el archivo del detalle</p>
                <!-- <input type="text" name="detalle" id="detalle" class="form-control"> -->
                <input id="detalleFile" type="file" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel('feedback-modal')">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" (click)="onAgregarDetalle()">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- <input id="detalleFile" type="file" class="form-control" (change)="loadFile($event, asignacion)"> -->