form {
    /* color: white; */
    width: 350px;
    padding: 25px;
    border-radius: 4px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}