
.container {
    
    height: 700px;
    width: 1600px;
}

.btn {
    border: darkgrey;
    border-radius: 10%;
    background-color:rgba(141, 230, 230, 0.822);
    padding: 12px;
    font-size: 30px; /* Set a font size */
    cursor: pointer;
}

.row-custom {
    margin-top: 60px !important;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.col-custom {
    display: grid;
}