<div class="container">
    <h3>Gestión de documentos</h3>

    <div class="btn-group mt-lg-4 mb-lg-1" role="group" aria-label="Controles">
        <button type="button" *ngIf="inFolder" class="btn btn-secondary" (click)="toHome()">
            Atrás
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#upload-modal">
            Subir archivo
        </button>
        <button type="button" *ngIf="!inFolder" class="btn btn-secondary" data-toggle="modal" data-target="#folder-modal">
            Crear carpeta
        </button>
    </div>

    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th style="width: 80px"></th>
                <th>Nombre</th>
                <th style="width: 25%">Tamaño</th>
                <th style="width: 25%">Modificado</th>
            </tr>
        </thead>
        <tbody id="files-body">
            <tr *ngFor="let carpeta of carpetas" (contextmenu)="showContextMenu(carpeta, $event)"
                (dblclick)="folderDoubleClicked(carpeta, $event)">
                <td><img src="assets/img/folder.png" alt="folder" /></td>
                <td>{{ carpeta.nombre }}</td>
                <td>-</td>
                <td>{{ carpeta.modificado }}</td>
            </tr>
            <tr *ngFor="let archivo of archivos" (contextmenu)="showContextMenu(archivo, $event)"
                (dblclick)="fileDoubleClicked(archivo, $event)">
                <td><img src="assets/img/file.png" alt="file" /></td>
                <td>{{ archivo.nombre }}</td>
                <td>{{ getPrettySize(archivo.tamanio) }}</td>
                <td>{{ getPrettyDate(archivo.fechaCreacion) }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" id="upload-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subir archivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Selecciona el archivo</p>
                <input type="file" name="upload-file" id="upload-file" class="form-file-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancelUpload()">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" (click)="onSubirArchivo()">
                    Subir
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="folder-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear carpeta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ingresa el nombre de la carpeta</p>
                <input type="text" name="folder-name" id="folder-name" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancelUpload()">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" (click)="onCrearCarpeta()">
                    Crear
                </button>
            </div>
        </div>
    </div>
</div>

<div class="list-group" id="context-menu" tabindex="-1">
    <button class="list-group-item list-group-item-action" (click)="onDescargar($event)">
        Descargar
    </button>
    <button class="list-group-item list-group-item-action" (click)="onModificar($event)">
        Modificar
    </button>
    <button class="list-group-item list-group-item-action" (click)="onEliminar($event)">
        Eliminar
    </button>
</div>